{% extends 'base.html.twig' %}

{% block title %}Hello ExportImportController!{% endblock %}

{% block body %}

    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
        {# <div class="sidebar-heading">Start Bootstrap </div> #}
        <div class="list-group list-group-flush">
             <a href="#" class="list-group-item list-group-item-action bg-light"></a>
            <a href="{{path('questions_list')}}" class="list-group-item list-group-item-action bg-light">Listes question</a>
            <a href="{{ path('questions_new') }}" class="list-group-item list-group-item-action bg-light">Nouvelle Question</a>
            <a href="{{ path('questions_myquestion') }}" class="list-group-item list-group-item-action bg-light">Mes questions</a>
            <a href="{{ path('import') }}" class="list-group-item list-group-item-action bg-light">Importer</a>
            <a href="{{ path('exportexcel') }}" class="list-group-item list-group-item-action bg-light">Exporter</a>
        </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <div class="chartist-chart andvios m-t-40" style="height:45px;"> </div>
        <hr class="m-t-0">
        <div id="page-content-wrapper">
            <div id="container">
                {% for worksheetTitle, worksheetData in data %}
                    <h2>{{ worksheetTitle }}</h2>
                    <table>
                        <thead>
                            {% for columnName in worksheetData.columnNames %}
                                <th class="heading"><b>{{ columnName }}</b></th>
                            {% endfor %}
                        </thead>
                        <tbody>
                            {% for columnValue in worksheetData.columnValues %}
                                <tr>
                                    {% for value in columnValue %}
                                        <td class="heading">{{ value }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            </div>
            <br>
            <a href="{{ path('questions_list') }}">Homepage</a>
        </div>

{% endblock %}


